* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
}

.waves {
	position: relative;
	inset: 0;
	display: block;
	width: 100%;
	height: 50%;
}

.waves > path {
    animation: waveAnimation 17390ms ease-in-out infinite alternate-reverse both;
    animation-timing-function: cubic-bezier(.25, 0, .75, 1);
    will-change: transform;
}

.waves > path:nth-of-type(1) {
    animation-duration: 20580ms;
}

.waves > path:nth-of-type(2) {
    animation-delay: -2690ms;
    animation-duration: 13580ms;
}

@keyframes waveAnimation {
    0% {
        transform: translateX(-750px);
    }
    100% {
        transform: translateX(-20px);
    }
}