* {
    margin: 0;
    padding: 0;
}

body {
    background: #260D34;
}

.card {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-top: solid red;
    border-bottom: solid red;
    
}

.card img {
    width: 100%;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 50%;
}

#wave0 {
    top: 30%;
    animation: wave0 ease-in-out 15s infinite;
    fill:#2a5d90;
}

@keyframes wave0 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}


#wave1 {
    top: 40%;
    animation: wave1 linear 3s infinite;
    fill:#fbb03b;
}

@keyframes wave1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.3%);
    }
}


#wave2 {
    top: 50%;
    animation: wave2 linear 3s infinite;
    fill:#3bcefb;
}

@keyframes wave2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


#wave3 {
    top: 60%;
    animation: wave3 ease-in-out 20s infinite;
    fill:#aadd80;
}

@keyframes wave3 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
