* {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    width: 1500px;
    height: 500px;
    overflow: hidden;
    border: 2px solid red;
    
}

.card img {
    width: 100%;
}

.wave {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 200%;
    animation: wave linear 3s infinite;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.3%);
    }
}

.wave2 {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 200%;
    animation: wave2 linear 5s infinite;
    animation-direction: reverse;

}

@keyframes wave2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}