html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Default Theme */
:root {

  --text: white;
  --moon-text: #252353;   /* 3a247b */



  /* Cursor trail */
  --trail-1: #a5b4fc;
  --trail-2: #93c5fd;
  --trail-3: #c4b5fd;
  --trail-4: #bfdbfe;
  --trail-5: #e0e7ff;
  --trail-6: #dbeafe;


  /* Background colour gradient */
  --bg-color-1: #0b0c2a;
  --bg-color-2: #1f1b45;
  --bg-color-3: #2b2a60;
  --bg-color-4: #1a1a3d;


  /* Background elements */
  --star: white;



  --header-rgb: 2, 11, 22;
  --header-transition: 0.3s ease;

  --border: #5c5c5c;
  --border-rgb: 92, 92, 92;

  --navbar-item-hover: rgba(255, 255, 255, 0.1);
  --navbar-selected: rgba(255, 255, 255, 0.15);


}