html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Default Theme */
:root {

  --text: white;
  --body-text: #e6f7ff;
  --moon-text: #252353;   /* 3a247b */

  --sub-text: #cce6ff;

  --accent: #00e0ff;
  --accent-rgb: 0, 224, 255;



  /* Cards */
  --card-bg: rgba(255, 255, 255, 0.05);
  --card-highlight: rgba(0, 224, 255, 0.2);

  /* Cursor trail */
  --trail-1: #a5b4fc;
  --trail-2: #93c5fd;
  --trail-3: #c4b5fd;
  --trail-4: #bfdbfe;
  --trail-5: #e0e7ff;
  --trail-6: #dbeafe;


  /* Background colour */
  --bg-color-1: #0b0c2a;

  --section-bg: #00162c;


  /* Background elements */
  --star: white;


  --header-rgb: 2, 11, 22;
  --header-transition: 0.3s ease;

  --border: #5c5c5c;
  --border-rgb: 92, 92, 92;

  --navbar-item-hover: rgba(255, 255, 255, 0.1);
  --navbar-selected: rgba(255, 255, 255, 0.15);




  /* --- Dividers --- */
  --divider-line: #cce6ff80;

  /* Solar Sun */
  --star-highlight: #fff4b3;
  --star-core: #ffcc00;
  --star-deep: #cc9900;
  --star-glow: #ffcc00cc;

  /* Solar Orbits */
  --orbit-border: rgba(148, 163, 184, 0.25);

  /* Solar Planets */
  --planet-1-color: #4a6cf7;
  --planet-1-glow: rgba(74, 108, 247, 0.6);
  
  --planet-2-color: #ff5252;
  --planet-2-glow: rgba(255, 82, 82, 0.6);
  
  --planet-3-color: #40c057;
  --planet-3-glow: rgba(64, 192, 87, 0.6);

  /* Helix Earth */
  --earth-color: #4da6ff;
  --earth-deep: #1a75ff;
  --earth-highlight: #80ccff;
  --earth-glow: rgba(77, 166, 255, 0.6);

  /* Helix Moon */
  --moon-color: #f0f0f0;
  --moon-highlight: #ffffff;
  --moon-glow: rgba(240, 240, 240, 0.5);
  /* Helix Moon Trail */
  --moon-trail-color: 180, 200, 255;



  


  
}