



#about .profile-image {
    position: relative;
    width: 100%;
    height: auto;
}

#about .profile-image img:first-child {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}


#about .profile-image img.profile {
    width: 70%;
    height: auto;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}