/* AboutTEMP Section */

#about {
    position: relative;
}

.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.about-image {
  text-align: center;
}

.about-image img.profile {
  width: 100%;
  max-width: 350px;
  height: auto;
  max-height: 80%;
  border-radius: 16px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.about-text {
  color: var(--text);
  text-align: right;
}

.about-heading {
  color: var(--accent);
  font-size: 2rem;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 2px solid var(--accent);
  display: inline-block;
}

.about-subheading {
  margin-bottom: 1rem;
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 1rem;
}




@media screen and (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-text {
    padding-top: 20px;
    text-align: center;
    order: 2;
  }

  .about-image {
    order: 1;
  }

  .about-heading,
  .about-subheading {
    text-align: center;
  }
}



















#about .earth {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  left: 0;
  z-index: 0;
  max-width: 300px;
  pointer-events: none;
}

#about .earth img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  #about .earth {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
    opacity: 0.08;
  }
}