
#home {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom,
        var(--gradient-0),
        var(--gradient-1),
        var(--gradient-2),
        var(--gradient-3),
        var(--gradient-4)
    );
    padding: 0px 40px;
}


#home .dividers {
    width: 60%;
    margin: 10px 0px 0px 0px;
}




#home .container {
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
}

#home .container .title {
    white-space: nowrap;
    text-shadow: 0 10px 15px var(--text-shadow);
}

#home .container .title span {
    display: block;
    width: 50%;
    height: 6px;
    border-radius: 5px;
    background: var(--accent);
    margin-bottom: 1.4rem;
}

#home .container .title span:last-child {
    margin-left: 30%;
}

#home .container .title h1 {
    letter-spacing: 0.05em;
    font-size: clamp(3.5rem, 8vw, 12rem);
}

#home .container .title h2 {
    letter-spacing: 0.05em;
    font-size: clamp(2.7rem, 5vw, 10rem);
}

#home .container .title h3 {
    letter-spacing: 0.05em;
    font-size: 3.5rem;
    font-size: clamp(3.5rem, 6vw, 11rem);
    color: var(--accent);
}





#home .moon {
    position: absolute;
    top: 50%;
    left: 40%;
    transform:  translateY(-50%);
    display: flex;
    align-items: center;
}

#home .moon Img {
    height: 110vh;
    margin-top: 32px;
    position: relative;
}


@media screen and (max-width: 992px) {
    #home .moon {
        left: 20%;
    }
}

@media screen and (max-width: 768px) {
    #home {
        flex-direction: column;
        height: 100vh;
    }
  
    #home .moon {
        order: 1;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        align-self: center;
        height: fit-content;
        max-height: 65%;
        width: fit-content;
    }

    #home .moon img {
        order: 1;
        width: 110vw;
        max-height: 70vh;
    }
    
    #home .container {
        order: 2;
        position: relative;
        align-self: center;
    }

    #home .container .title {
        justify-items: center;
    }

    #home .container .title .dividers {
        min-height: 20px;
        width: 100%;
    }

    #home .container .title .divider {
        width: 70%;
    }
}
