* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) #fff;
}

body {
    font-family: 'Century Gothic', 'Montserrat', sans-serif;
    color: var(--text);
    background-color: var(--body-bg);
    overflow-x: hidden;
}














/* Header */
header {
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    color: var(--text);
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px 20px;
}

.header_card {
    display: flex;
    padding: 6px 20px;
    border-radius: 16px;
    background-color: var(--header-bg);
    height: 60px;
    align-items: center;
}


.header_card svg {
    height: 100%;
}


.header_card a {
    padding: 5px;
    height: 100%;
    max-height: 60px;
}

.header_card .logo {
    height: 80%;
}

.header_card.icons a:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


.header_card.icons a svg {
    color: var(--text);
}

.header_card.icons a:hover svg {
    color: var(--accent);
}



/* Navigation */
nav {
    position: relative;
    height: fit-content;
    width: fit-content;
    font-size: 1.1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

nav a:hover {
    color: var(--text-hover);
}

nav a.active {
    color: var(--text-hover);
}

@media screen and (max-width: 768px) {
    header {
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
        gap: 10px 200px; /* gap 200 forces flex to wrap*/
    }
}



.dot-indicator {
    position: absolute;
    top: -11px;
    width: 10px;
    height: 10px;
    background-color: var(--accent);
    border-radius: 50%;
    transition: left 0.5s ease; /* left offset determines dot position*/
}

