
section {
    /*
    TODO
    
    scroll-snap-align: start;
    scroll-snap-stop: always;

    */

    width: 100%;
    height: 100vh;
    display: flex;
    padding: 80px 40px;
}

#home {
    background:
        linear-gradient(to bottom,
            var(--gradient-0),
            var(--gradient-1),
            var(--gradient-2),
            var(--gradient-3),
            var(--gradient-4)
        );
}

#projects {
    /*
    background:
        linear-gradient(to top,
            var(--gradient-0),
            var(--gradient-1),
            var(--gradient-2),
            var(--gradient-3),
            var(--gradient-4)
        );
    */

    /*background: var(--gradient-1);*/
}








.section-container {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    align-items: center;
}

.content.reverse {
    flex-direction: row-reverse;
}



.right {
    width: 50%;
}

.left {
    width: 50%;
}



@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        height: 100vh;
    }

    .content.content.reverse {
        flex-direction: column-reverse;
    }
}