.seperator {
    display: block;
    border-radius: 5px;
    background: var(--accent);
    border: 1px solid var(--accent);
    margin: 0.7rem 40px;
}




.dividers {
    width: 26%;
    height: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .dividers {
        width: 75%;
        height: 20px;
        margin-bottom: 20px;
    }
}











.section {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--about-bg);
    padding: 0px 60px;
}

.section-container {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    align-items: center;
}

.content.reverse {
    flex-direction: row-reverse;
}



.right {
    width: 50%;
}

.left {
    width: 50%;
}



@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        height: 100vh;
    }

    .content.content.reverse {
        flex-direction: column-reverse;
    }
}