/* Light theme */
:root {
    --text: #1a2d42;
    --text-inverse: white;
    --border: #aab7b7;
    --section-background-1: #d4d8dd;
    --section-background-2: #c0c8ca;
}

/* Dark theme */
.dark-theme {

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;


    background: linear-gradient(to left,
    #49596B,
    #405165,
    #35475D,
    #2A3E57,
    #1E344E,
    #132944,
    #061E3B,
    #061D3A);

}

/* Header & Footer */
header {
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background: white;
    color: var(--text);
    justify-content: space-between;
    border-bottom: thin solid var(--border);
}

footer {
    background: white;
    color: var(--text);
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
}


/* Navigation */
nav {
    align-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}


/* Test */
#test {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--text);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6rem 2rem;
}




/* Home */
#home {
    
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--text-inverse);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6rem 2rem;
}

    #home img {
        width: 300px;
    }

    .col {

    }



/* About */
#about {
    background: var(--section-background-2);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 2rem;
}












